GNEWS_API_KEY=your_gnews_api_key
GNEWS_API_URL=https://gnews.io/api/v4/search
GNEWS_COUNTRY=in
GNEWS_TIMEOUT_SECONDS=12
# Comma-separated trusted websites/sources for source-based verification.
TRUSTED_NEWS_SOURCES=reuters.com,apnews.com,bbc.com,bbc.co.uk,nytimes.com,washingtonpost.com,wsj.com,theguardian.com,ft.com,economist.com,npr.org,pbs.org,bloomberg.com,forbes.com,cnn.com,foxnews.com,abcnews.go.com,cbsnews.com,nbcnews.com,msnbc.com,usatoday.com,latimes.com,newsweek.com,time.com,politico.com,axios.com,thehill.com,businessinsider.com,marketwatch.com,aljazeera.com,dw.com,france24.com,euronews.com,news.sky.com,independent.co.uk,telegraph.co.uk,cbc.ca,ctvnews.ca,globalnews.ca,abc.net.au,smh.com.au,theage.com.au,afr.com,thehindu.com,indiatimes.com,hindustantimes.com,indianexpress.com,ndtv.com,deccanherald.com,scmp.com,straitstimes.com,japantimes.co.jp,snopes.com,factcheck.org,politifact.com,fullfact.org
SOURCE_TRUST_WEIGHT=0.35
FLASK_DEBUG=1
